@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/* CSS Document */


body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #151515;
} 

*{
    padding: 0;
    margin: 0;
} 
body {
font-family: Arial, Tahoma, Serif;
color: #263238;
}
  
nav {
display: flex;
justify-content:space-between; 
align-items: center;
padding: 0rem 2rem 0rem 2rem;
background: transparent; 
position: sticky;
top: 0;
width: 96.3%;
height: 70px;
border-bottom: solid #ffffff; 
border-width: calc(1px + .1vw);
}

  
nav ul {
display: flex;
list-style: none; 
}
  
nav li {
padding-left: 1rem; 
}
  
nav a {
text-decoration: none;
color: yellow;
}
  
/* 
Extra small devices (phones, 600px and down) 
*/
@media only screen and (max-width: 600px) {
} 
  

.glowing-ball {
  position: absolute;
  transform-origin: center;
  height: auto;
  width: 75%;
  top: 9%;
  left: 13%;
}
.main-img {
    position: relative;
    margin-inline-start: 25%;
    margin-inline-end: 25%;
}

.glowing-ball {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 4s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(4px, 0px); }
  25% { transform: translate(-4px, 0px); }
  50% { transform: translate(4px, 0px); }
  75% { transform: translate(-4px, 0px); }
  100% { transform: translate(4px, 0px); }

}

.about-me {
  color: #ffffff;
  font-size: 105px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -200px;
  margin-right: -200px;
}
#hobbies {
  color: #ffffff;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  border: white;
  border-top-left-radius: 5px;
  border-right: 1px solid;
  border: white 2px solid;
  border-right: 1px solid;
  border-bottom: 1px rgba(255, 255, 255, 0.173) solid;
  padding-left: 20px;

}
#hobbies-p {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  border: white 2px solid;
  border-right: 1px solid;
  border-bottom-left-radius: 5px;
  border-top: 0px;
  padding: 20px;
  padding-left: 40px;
  height: 65.5%;
}
#skills {
  color: #ffffff;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  border: white;
  border-top-right-radius: 5px;
  border-left: 1px solid;
  border: white 2px solid;
  border-left: 1px solid;
  border-bottom: 1px rgba(255, 255, 255, 0.173) solid;
  padding-left: 20px;
}
#skills-p {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  border: white 2px solid;
  border-left: 1px solid white;
  border-bottom-right-radius: 5px;
  border-top: 0px;
  padding: 20px;
  padding-left: 40px;
  height: 65.5%;

}